<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulletin Board Form</title>
    <style>
        /* Add your custom styles here */
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input, textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }
    </style>
    <link rel="stylesheet" href="assets/css/main.css">

</head>
<header id="header">
    <div class="logo">
        <a href="home">Gameflex<span></span></a>
    </div>
</header>
<body class="subpage">
<div>
    <form method="post" id="createGameForm" th:action="@{/board}" enctype="multipart/form-data">
        <label for="title">제목:</label>
        <input type="text" name="title" id="title" required>

        <label for="recommandAge">추천연령:</label>
        <input name="recommandAge" id="recommandAge" rows="8">

        <label for="company">제작사명:</label>
        <input name="company" id="company" rows="8">

        <label for="categories">카테고리:</label>
        <select name="categories" id="categories" multiple>
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
        </select>
        <button type="submit">전송</button>
    </form>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js" /></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>
