<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Homepage</title>
	<link rel="stylesheet" href="/assets/css/main.css">
</head>

<header id="header">
	<div class="logo"><a href="home.html">Gameflex<span></span></a></div>
</header>

<body>
<section id="banner" data-video="images/homepage">
	<div class="inner">
		<h1>Gameflex</h1>
		<br><br><br><br><br><br><br><br><br><br><br>
		<a href="/login" class="button special scrolly">Login</a>
		<a href="/signup" class="button special scrolly">Sign-Up</a>
		<br><br><br>
		<a href="http://mnuwb.mokpo.ac.kr:3366/manage/main.do/">Mokpo National University</a>
	</div>
</section>
</body>

</html>
