<!DOCTYPE html>
<html>
<head>
  <title>영화 목록</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    body {
      background-color: #111111;
      padding: 20px;
    }
    h1 {
      color: #e50914;
      text-align: center;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    li {
      margin: 10px;
      text-align: center;
    }
    img {
      width: 200px;
      height: 300px;
      object-fit: cover;
    }
    p {
      margin-top: 10px;
    }
  </style>
</head>
<body>
<h1>영화 목록</h1>
<ul>
  <li th:each="movie : ${movies}">
    <img th:src="${movie.poster}" alt="${movie.title} 포스터">
    <p th:text="${movie.title}" class="font-weight-bold"></p>
    <p th:text="${movie.genre}"></p>
    <p th:text="${movie.releaseYear}"></p>
  </li>
</ul>
</body>
</html>
