<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grand Theft Auto V</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body class="subpage">

<header id="header">
    <div class="logo">
        <a href="home">Gameflex<span></span></a>
    </div>
</header>


<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="box">
            <div class="content">
                <h3 id="elements">Grand Theft Auto V</h3>
                <div class="row 200%">
                    <div class="6u 12u$(medium)">
                        <span class="image fit">
                            <img src="images/p_3.png" alt="" width="3472"
                                 height="1035">
                        </span>
                        <hr>
                        <header>
                            <h2>게임 설명</h2>
                            <p>《그랜드 테프트 오토 V》는 록스타 노스가 개발하고 록스타 게임스가 배급하는, 그랜드 테프트 오토 시리즈 중 12번째 작품이다. GTA5는 2013년 봄에
                                출시될 예정이었으나, 같은 해 9월 17일로 연기되어 플레이스테이션 3와 엑스박스 360로 출시된 오픈월드 액션 어드벤처 비디오 게임이다. 이후 그래픽 및
                                성능 향상, 1인칭 시점, 기타 컨텐츠를 포함한 리마스터판이 플레이스테이션 4, 엑스박스 원 버전은 2014년 11월 18일[6]에, 마이크로소프트 윈도우
                                버전은 두 차례 연기되어 2015년 4월 14일에 발매되었다.
                            </p>
                        </header>
                        <h3>게임정보</h3>
                        <div class="row">
                            <div class="6u 12u$(small)">
                                <ul class="alt">
                                    <li>개발사: 락스타 노스</li>
                                    <li>출시일: 2013년 09월 17일</li>
                                    <li>장르: 액션</li>
                                </ul>
                            </div>
                            <div class="6u$ 12u$(small)">
                                <h4>Icons</h4>
                                <ul class="icons">
                                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a>
                                    </li>
                                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a>
                                    </li>
                                    <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="6u$ 12u$(medium)">
                        <h3>평가</h3>
                        <form method="post" action="#" id="comment-form">
                            <div class="row uniform">
                                <div class="6u 12u$(xsmall)">
                                    <input type="text" name="demo-name" id="demo-name" value="" placeholder="제목">
                                </div>
                                <div class="12u$">
                                    <div class="select-wrapper">
                                        <select name="demo-category" id="demo-category">
                                            <option value="">- 추천 -</option>
                                            <option value="1">추천함</option>
                                            <option value="0">추천하지 않음</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="12u$">
                                    <textarea name="demo-message" id="demo-message" placeholder="Enter your message"
                                              rows="6" data-gramm="false" wt-ignore-input="true"></textarea>
                                </div>
                                <div class="12u$">
                                    <ul class="actions">
                                        <li><input type="submit" value="Send Message"></li>
                                        <li><input type="reset" value="Reset" class="alt"></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                        <div id="comments-section">
                            <h3>댓글</h3>
                            <div id="comments-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="copyright">
        <a href="http://mnuwb.mokpo.ac.kr:3366/manage/main.do/">Mokpo National University</a>
    </div>
</footer>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="assets/js/reply.js"/>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>
