<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body class="subpage">

<header id="header">
    <div class="logo">
        <a href="home">Gameflex<span></span></a>
    </div>
</header>


<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="box">
            <div class="content">
                <h3 id="elements">Minecraft</h3>
                <div class="row 200%">
                    <div class="6u 12u$(medium)">
                        <span class="image fit">
                            <img src="images/r_1.png" alt="" width="3472" height="1035">
                        </span>
                        <hr>
                        <header>
                            <h2>게임 설명</h2>
                            <p>《마인크래프트》에서 플레이어는 무한히 펼쳐진 3차원 세계를 무대로 채집, 물품 제작, 건축, 토공 등의 활동을 한다. 게임 진행 방식으로서 여러 모드를 선택할 수 있어, 세계 속 자원으로 생존을 도모하는 '서바이벌 모드', 자유롭게 세계를 가꾸는 '크리에이티브 모드' 등을 지원한다. 사용자가 제작한 전용 모드를 통해서 새로운 게임플레이 요소들을 삽입할 수 있다.
                            </p>
                        </header>
                        <h3>게임정보</h3>
                        <div class="row">
                            <div class="6u 12u$(small)">
                                <ul class="alt">
                                    <li>개발사: 모장스튜디오</li>
                                    <li>출시일: 2011년 11월 18일</li>
                                    <li>장르: 샌드박스</li>
                                </ul>
                            </div>
                            <div class="6u$ 12u$(small)">
                                <h4>Icons</h4>
                                <ul class="icons">
                                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                                    <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="6u$ 12u$(medium)">
                        <h3>평가</h3>
                        <form method="post" th:action="@{/reply}" id="comment-form">
                            <div class="row uniform">
                                <div class="6u 12u$(xsmall)">
                                    <input type="text" name="title" id="demo-name" value="" placeholder="제목">
                                </div>
                                <div class="12u$">
                                    <div class="select-wrapper">
                                        <select name="recommend" id="demo-category">
                                            <option value="">- 추천 -</option>
                                            <option value=1>추천함</option>
                                            <option value=0>추천하지 않음</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="12u$">
                                    <textarea name="Content" id="demo-message" placeholder="Enter your message" rows="6" data-gramm="false" wt-ignore-input="true"></textarea>
                                </div>
                                <div class="12u$">
                                    <ul class="actions">
                                        <li><input type="submit" value="Send Message"></li>
                                        <li><input type="reset" value="Reset" class="alt"></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                        <div id="comments-section">
                            <h3>댓글</h3>
                            <div id="comments-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="copyright">
        <a href="http://mnuwb.mokpo.ac.kr:3366/manage/main.do/">Mokpo National University</a>
    </div>
</footer>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="assets/js/rg1.js"></script>
<!--<script src="assets/js/reply.js"/>-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>
