<!DOCTYPE HTML>
<!--
	Transitive by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head><title>Fifa online 4</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <div class="logo"><a href="home">Gameflex<span></span></a></div>

</header><!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="home">Home</a></li>
        <li><a href="elements">Fifa online 4</a></li>
        l>
</nav><!-- One -->
<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="box">
            <div class="content">
                <!-- Elements -->
                <h3 id="elements">Fifa online 4</h3>
                <div class="row 200%">
                    <div class="6u 12u$(medium)">

                        <!-- Image -->

                        <span class="image fit"><img src="images/r_2.png" alt=""
                                                     width="3472" height="1035"></span>


                        <hr>
                        <header><h2>게임 설명</h2>
                            <p>《EA SPORTS FC 온라인》은 EA Korea Studio에서 개발하고 넥슨에서 2018년 상반기부터 배급하고 있는 스포츠 게임이다.EA 산하의 EA
                                코리아 스튜디오(구 스피어헤드)에서 개발하고 넥슨이 배급하는 피파 온라인 3의 후속작이다. 피파 18을 원작으로 두고 있다. 2017년 11월 2일에 열린
                                EA x 넥슨 뉴 프로젝트 미디어 쇼케이스에서 처음으로 공개되었다.</p>

                            <!-- Lists -->
                            <h3>게임정보</h3>
                            <div class="row">
                                <div class="6u 12u$(small)">


                                    <ul class="alt">
                                        <li>개발사: EA 코리아 스튜디오</li>
                                        <li>출시일: 2018년 05월 17일</li>
                                        <li>장르: 스포츠 게임</li>
                                    </ul>
                                </div>
                                <div class="6u$ 12u$(small)">
                                    <h4>Icons</h4>
                                    <ul class="icons">
                                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a>
                                        </li>
                                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a>
                                        </li>
                                        <li><a href="#" class="icon fa-instagram"><span
                                                class="label">Instagram</span></a></li>
                                        <li><a href="#" class="icon fa-github"><span class="label">Github</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                    <div class="6u$ 12u$(medium)">
                        <h3>평가</h3>
                        <form method="post" action="#" id="comment-form">
                            <div class="row uniform">
                                <div class="6u 12u$(xsmall)">
                                    <input type="text" name="demo-name" id="demo-name" value="" placeholder="제목">
                                </div>
                                <div class="12u$">
                                    <div class="select-wrapper">
                                        <select name="demo-category" id="demo-category">
                                            <option value="">- 추천 -</option>
                                            <option value="1">추천함</option>
                                            <option value="0">추천하지 않음</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="12u$">
                                    <textarea name="demo-message" id="demo-message" placeholder="Enter your message"
                                              rows="6" data-gramm="false" wt-ignore-input="true"></textarea>
                                </div>
                                <div class="12u$">
                                    <ul class="actions">
                                        <li><input type="submit" value="Send Message"></li>
                                        <li><input type="reset" value="Reset" class="alt"></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                        <div id="comments-section">
                            <h3>댓글</h3>
                            <div id="comments-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="copyright">
        <a href="http://mnuwb.mokpo.ac.kr:3366/manage/main.do/">Mokpo National University</a>
    </div>
</footer>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="assets/js/reply.js"/>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>