<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><title>rg_2</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <div class="logo"><a href="banner">Gameflex<span></span></a></div>

</header><!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="index.html">Home</a></li>
        <li><a href="elements.html">Fifa online 4</a></li>
        l>
</nav><!-- One -->
<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="box">
            <div class="content">
                <!-- Elements -->
                <h3 id="elements">Fifa online 4</h3>
                <div class="row 200%">
                    <div class="6u 12u$(medium)">

                        <!-- Image -->

                        <span class="image fit"><img src="/images/r_2.png" alt="" width="3472" height="1035"></span>


                        <hr>
                        <header><h2>게임 설명</h2>
                            <p>《EA SPORTS FC 온라인》은 EA Korea Studio에서 개발하고 넥슨에서 2018년 상반기부터 배급하고 있는 스포츠 게임이다.</p>

                            <!-- Lists -->
                            <h3>게임정보</h3>
                            <div class="row">
                                <div class="6u 12u$(small)">


                                    <ul class="alt">
                                        <li>개발사: EA 코리아 스튜디오</li>
                                        <li>출시일: 2018년 05월 17일</li>
                                        <li>장르: 스포츠 게임</li>
                                    </ul>
                                </div>
                                <div class="6u$ 12u$(small)">

                                    </ol><h4>Icons</h4>
                                    <ul class="icons">
                                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a>
                                        </li>
                                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a>
                                        </li>
                                        <li><a href="#" class="icon fa-instagram"><span
                                                class="label">Instagram</span></a></li>
                                        <li><a href="#" class="icon fa-github"><span class="label">Github</span></a>
                                        </li>
                                        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a>
                                        </li>
                                        <li><a href="#" class="icon fa-tumblr"><span class="label">Tumblr</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


</section>
</div>
</footer>
<div class="copyright">
    <a href="http://mnuwb.mokpo.ac.kr:3366/manage/main.do/">Mokpo National University</a>
</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
