<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maplestory</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body class="subpage">

<header id="header">
    <div class="logo">
        <a href="home">Gameflex<span></span></a>
    </div>
</header>


<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="box">
            <div class="content">
                <h3 id="elements">Maplestory</h3>
                <div class="row 200%">
                    <div class="6u 12u$(medium)">
                        <span class="image fit">
                            <img src="images/r_3.png" alt="" width="3472" height="1035">
                        </span>
                        <hr>
                        <header>
                            <h2>게임 설명</h2>
                            <p>《메이플스토리》는 위젯 스튜디오에서 제작하고 넥슨 코리아가 서비스하는 세계 최초의 2D 사이드 스크롤 방식 온라인 게임이다. 전 세계 9개국 이상에서 서비스
                                되고 있으며, 약 13억 명 이상의 사용자가 가입되어 있다. 플레이어는 롤플레잉 비디오 게임에서 흔히 볼 수 있는 것처럼 "메이플 월드"를 여행하며 몬스터를
                                물리치고 캐릭터의 기술과 능력을 개발한다. 플레이어는 채팅, 거래 등 다양한 방법으로 다른 사람과 상호 작용할 수 있다. 플레이어 그룹은 파티를 맺어 몬스터를
                                사냥하고 보상을 공유할 수 있으며, 길드를 구성하여 서로 더 쉽게 상호 작용할 수도 있다. 또한 플레이어는 게임 내 "캐시 샵"을 방문하여 다양한 캐릭터
                                외형이나 게임플레이 개선 사항을 실제 돈으로 구매할 수도 있다.
                            </p>
                        </header>
                        <h3>게임정보</h3>
                        <div class="row">
                            <div class="6u 12u$(small)">
                                <ul class="alt">
                                    <li>개발사: 위젯 스튜디오</li>
                                    <li>출시일: 2003년 04월 29일</li>
                                    <li>장르: RPG</li>
                                </ul>
                            </div>
                            <div class="6u$ 12u$(small)">
                                <h4>Icons</h4>
                                <ul class="icons">
                                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a>
                                    </li>
                                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a>
                                    </li>
                                    <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="6u$ 12u$(medium)">
                        <h3>평가</h3>
                        <form method="post" action="#" id="comment-form">
                            <div class="row uniform">
                                <div class="6u 12u$(xsmall)">
                                    <input type="text" name="demo-name" id="demo-name" value="" placeholder="제목">
                                </div>
                                <div class="12u$">
                                    <div class="select-wrapper">
                                        <select name="demo-category" id="demo-category">
                                            <option value="">- 추천 -</option>
                                            <option value="1">추천함</option>
                                            <option value="0">추천하지 않음</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="12u$">
                                    <textarea name="demo-message" id="demo-message" placeholder="Enter your message"
                                              rows="6" data-gramm="false" wt-ignore-input="true"></textarea>
                                </div>
                                <div class="12u$">
                                    <ul class="actions">
                                        <li><input type="submit" value="Send Message"></li>
                                        <li><input type="reset" value="Reset" class="alt"></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                        <div id="comments-section">
                            <h3>댓글</h3>
                            <div id="comments-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="copyright">
        <a href="http://mnuwb.mokpo.ac.kr:3366/manage/main.do/">Mokpo National University</a>
    </div>
</footer>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="assets/js/reply.js"/>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
